Repository nicosantux/santux.dev, changes with the labels that .github/labeler.yml gives for each.
All labels: 💻 source, 📝 documentation, 🏭 build, ⚙️ configuration, 📦 dependencies, 🤖 ci/cd, 🏠 github configuration

.github/labeler.yml:

💻 source:
  - changed-files:
      - any-glob-to-any-file:
          - src/**

📝 documentation:
  - changed-files:
      - any-glob-to-any-file:
          - README.md

🏭 build:
  - changed-files:
      - any-glob-to-any-file:
          - .node-version
          - tsconfig.json

⚙️ configuration:
  - changed-files:
      - any-glob-to-any-file:
          - .commitlintrc.json
          - .editorconfig
          - .eslintignore
          - .eslintrc.json
          - .gitignore
          - .node-version
          - .prettierignore
          - .prettierrc.json
          - next.config.mjs
          - postcss.config.mjs
          - tailwind.config.ts
          - tsconfig.json

📦 dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - pnpm-lock.yaml

🤖 ci/cd:
  - changed-files:
      - any-glob-to-any-file:
          - .github/dependabot.yml
          - .github/workflows/**
          - .husky/**

🏠 github configuration:
  - changed-files:
      - any-glob-to-any-file:
          - .github/labeler.yml
          - .github/labels.yml
          - .github/settings.yml

chore: update node version
  .node-version
Labels: 🏭 build, ⚙️ configuration

chore: update next config to ts file
  next.config.mjs
  next.config.ts
Labels: ⚙️ configuration

chore: update postcss config to mjs
  postcss.config.mjs
Labels: ⚙️ configuration

chore: update next 15 and eslint 9
  .eslintignore
  .eslintrc.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/blog/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/command/index.tsx
  src/hooks/use-dock-animation.ts
  tsconfig.json
Labels: 💻 source, 🏭 build, ⚙️ configuration, 📦 dependencies

chore: next 15 migration (#31)
  .eslintignore
  .eslintrc.json
  eslint.config.mjs
  next.config.mjs
  next.config.ts
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  src/app/blog/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/command/index.tsx
  src/hooks/use-dock-animation.ts
  tsconfig.json
Labels: 💻 source, 🏭 build, ⚙️ configuration, 📦 dependencies
